body {
  background-color: #f9f9f9;
}
.btn-nb {
  box-shadow: none;
}
.profile-pic {
  border-radius: 50%;
}
.padding {
  padding: 20px;
}
.margin {
  margin: 20px;
}
img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: transparent;
  color: #7d7e7f;
}
header .container {
  padding-top: 40px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
section {
  display: block;
  padding: 100px 0;
}
section .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
