<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body margin">
        <div class="row">
          <h3>Get started</h3>
          <small>Tell us a little about you.</small>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form id="registration" class="form-horizontal">
              <fieldset>
                <div class="form-group has-feedback">
                  <label for="name" class="control-label col-md-2">Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required="" ng-model="vm.user._name" autocomplete="off">
                    <i class="form-control-feedback fa fa-user"></i>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <label for="name" class="control-label col-md-2">Email</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" required="" ng-model="vm.user._email" autocomplete="off">
                    <i class="form-control-feedback fa fa-envelope"></i>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <div class="checkbox col-md-10 col-md-offset-2">
                    <label>
                      <input ng-model="vm.user._instructor" type="checkbox"> Are you instructor?
                    </label>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <label for="name" class="control-label col-md-2">Password</label>
                  <div class="col-md-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required="" ng-model="vm.user._password" autocomplete="off">
                    <i class="form-control-feedback fa fa-lock"></i>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <label for="name" class="control-label col-md-2">Confirm Password</label>
                  <div class="col-md-10">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter password again" required="" ng-model="vm.user._confirm_password" autocomplete="off">
                    <i class="form-control-feedback fa fa-lock"></i>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <button data-style="slide-down" ladda="vm.loading" ng-click="vm.register()" type="submit" class="btn btn-primary btn-lg" style="width:100%;">Submit</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
