<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/"><img src="img/logo.png" width="50%" height="50%" style="margin-top:5px;margin-bottom:5px;" alt="virtual fit" /></a>
      <button class="navbar-toggle btn bt-default" type="button" data-toggle="collapse" data-target="#navbar-main">
        Menu <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right" ng-show="!navvm.checkLogin()">
        <li><a href="register"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
        <li><a href="login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="navvm.checkLogin()">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href="profile"><i class="fa fa-user"></i> Profile</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="navvm.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="search..." />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
      </form>
    </div>
  </div>
</div>
